@font-face {
    font-family: 'Beatrice Display';
    src: url('BeatriceDisplay-BoldItalic.woff2') format('woff2'),
        url('BeatriceDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrice Display';
    src: url('BeatriceDisplay-Regular.woff2') format('woff2'),
        url('BeatriceDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrice Display';
    src: url('BeatriceDisplay-Medium.woff2') format('woff2'),
        url('BeatriceDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beatrice Display';
    src: url('BeatriceDisplay-MediumItalic.woff2') format('woff2'),
        url('BeatriceDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MTD Hipster Script';
    src: url('MTD.woff2') format('woff2'),
        url('MTD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MTD Kawoszeh';
    src: url('MTD.woff2') format('woff2'),
        url('MTD.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Aptima';
    src: url('SVN-Aptima.woff2') format('woff2'),
        url('SVN-Aptima.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Aptima';
    src: url('SVN-Aptimabolditalic.woff2') format('woff2'),
        url('SVN-Aptimabolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LNTH-Sacred Bridge Demo';
    src: url('LNTH-SacredBridgeDemo.woff2') format('woff2'),
        url('LNTH-SacredBridgeDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Aptima';
    src: url('SVN-AptimaItalic.woff2') format('woff2'),
        url('SVN-AptimaItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

